/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-screen w-screen bg-neutral-950;
}

body {
	overflow: hidden;
}

#container {
	height: 100vh;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

#canvas1,
#canvas2 {
	@apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform border border-neutral-900 bg-neutral-950;
}
